@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');



:root {
  --cor1: #EFD5E9;
  --cor2: #E588D6;
  --cor3: #E992F0;
  --cor4: #000000;
  --cor5: #e7e7e7;
  --cor6: #cccccc;
  --font1: 'Alata', sans-serif;
  --cor7: #ffd9f5;
  --cor8: #fc90fc;
  --cor9: #412517;
  --cor10: #ffc6f0;

}

.bannerfoto {
  width: 100%;
  height: 800px
}

body {
  background-color: #fafafa;
}



* {
  font-family: var(--font1);
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

h1,
a {
  color: var(--cor5);
  text-decoration: none;
  font-family: var(--font1);
  text-align: center;
}

a {
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--cor5);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 90px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cor9);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
  color: var(--cor5);
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--cor9);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--cor9);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}




.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 130px;
  /* Set your desired width for the logo */
  height: auto;
  margin: 0 auto;
  /* Center the image horizontally */
}

.bannerfoto {
  width: 100%;
  height: auto;
  /* Make the image responsive */
  max-height: 400px;
  /* Set your desired maximum height for the banner image */
}



.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #ffffff;

  section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
  }

  .slider-content {
    width: 400%;
    height: auto;
    display: flex;
  }

  .slider-content input,
  .img-mobile {
    display: none;
  }

  .slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
  }

  .slide-box img {
    width: 100%;
  }

  .nav-manual,
  .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
  }

  .nav-manual .manual-btn,
  .nav-auto div {
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

  .nav-manual .manual-btn:not(:last-child),
  .nav-auto div:not(:last-child) {
    margin-right: 10px;
  }

  .nav-manual .manual-btn:hover {
    background-color: #ff0054;
  }

  #radio1:checked~.nav-auto .auto-btn1,
  #radio2:checked~.nav-auto .auto-btn2,
  #radio3:checked~.nav-auto .auto-btn3 {
    background-color: #ff0054;
  }

  #radio1:checked~.primeiro {
    margin-left: 0%;
  }

  #radio2:checked~.primeiro {
    margin-left: -25%;
  }

  #radio3:checked~.primeiro {
    margin-left: -50%;
  }

  @media screen and (max-width: 900px) {
    .img-desktop {
      display: none;
    }

    .img-mobile {
      display: block;
    }

    .nav-auto,
    .nav-manual {
      margin-top: 60%;
    }
  }
}








.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;

  a {
    font-size: .7rem;
    color: #999;
    text-decoration: underline;
  }
}

button {

  padding: 5px 15px;
  background-color: rgb(122, 64, 72);
  color: var(--cor5);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: var(--cor2);
}


section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input,
.img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  width: 100%;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid var(--cor9);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: var(--cor9);
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
  background-color: var(--cor9);
}

#radio1:checked~.primeiro {
  margin-left: 0%;
}

#radio2:checked~.primeiro {
  margin-left: -25%;
}

#radio3:checked~.primeiro {
  margin-left: -50%;
}

@media screen and (max-width: 900px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .nav-auto,
  .nav-manual {
    margin-top: 60%;
  }
}

.iframe-container {


  text-align: center;
  align-items: center;
  margin-top: 100px;



}

p {
  color: white;
}

iframe {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 10px;
  max-width: 100%;
}